%html
  %head
    %title Screen Share
    
    %link{:href => "/stylesheets/screen.css", :media => "screen",
      :rel => "stylesheet", :type => "text/css"}
    
    %script{:src => "/javascripts/jquery-1.4.2.min.js",
      :type => "text/javascript"}
    %script{:src => "/javascripts/jquery.imagefit.js",
      :type => "text/javascript"}
    
    :javascript
      function reloadImage(){
        $('#screen img').attr('src', '/#{@file}?' + new Date().getTime());
      }
      
      setInterval("reloadImage();", 5000);
      
      $(document).ready(function(){
        reloadImage();
        $('#screen').imagefit();
      });
  %body
    #screen
      %img{:src => @file}